$base: 40px;

$highlight: hotpink;
$highlight: deeppink;
$highlight: orangered;
$highlight: slateblue;
$highlight: MediumSpringGreen;

// Basic small-screen media query
$bp-small: 768px;

@mixin media-small {
  @media only screen and (max-width: $bp-small), only screen and (max-device-width: $bp-small) {
    @content;
  }
}

body {
  max-width: $base * 16;
  // padding: $base / 2;
  margin: 0 auto;
}

body, input {
  // font-family: 'Inconsolata', monospace;
  font-family: serif;

  font-style: italic;
  font-size: 30px;
  line-height: 40px;

  @include media-small {
    font-size: 20px;
    line-height: 30px;
  }
}

.search {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  width: 100%;
  max-width: $base * 16;
  height: $base * 2;
  padding: $base;
  margin: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid black;

  background-color: white;

  &:focus {
    outline: none;
  }

  @include media-small {
    height: $base;
    padding: $base / 2;
  }
}

.content {
  margin-top: $base * 2;
  padding: $base;
  background-color: white;

  @include media-small {
    margin-top: $base;
    padding: $base / 2;
  }
}

p.is-hidden {
  display: none;
}

mark {
  background-color: $highlight;

}
